services:
  hytale:
    image: ketbom/hytale-server:latest
    container_name: hytale-server
    restart: unless-stopped
    stdin_open: true
    tty: true
    privileged: true
    ports:
      - "5520:5520/udp"
    environment:
      JAVA_XMS: "4G"
      JAVA_XMX: "8G"
      BIND_PORT: "5520"
      BIND_ADDR: "0.0.0.0"
      AUTO_DOWNLOAD: "true"
      USE_G1GC: "true"
      # VIEW_DISTANCE: "12"
      # MAX_PLAYERS: "20"
      # SERVER_NAME: "My Hytale Server"
    volumes:
      - ./server:/opt/hytale
      - /etc/machine-id:/etc/machine-id:ro
      - /sys/class/dmi/id:/sys/class/dmi/id:ro

  panel:
    image: ketbom/hytale-panel:latest
    container_name: hytale-panel
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      CONTAINER_NAME: "hytale-server"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    depends_on:
      - hytale
